<div [formGroup]="form">
    <mat-label>{{ question.question }}</mat-label>
    <mat-form-field *ngIf="question.options" appearance="outline">
        <mat-select [(ngModel)]="selectedQuestion" formControlName="question">
            <mat-option *ngFor="let option of question.options" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="selectedQuestion === question.options[0] && question.subQue">
        <mat-label>{{ question.subQue[0].question }}</mat-label>
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedSubQuestion" formControlName="subQue">
                <mat-option *ngFor="let subOption of question.subQue[0].options" [value]="subOption">
                    {{ subOption }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>